html{
    font-size: 62%;
}
.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    padding: 2%;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 8.0rem;
}

.allButton{
    display: flex;
    justify-content: space-evenly;
}

.button{
    color: white;
    padding: 5%;
    border: 1px black solid;
    border-radius: 40px;
    font-family: sans-serif;
    font-size: 2rem;
    margin: 2%;
    outline: none;
    box-shadow: 1px 1px 1px 1px black;
    cursor: pointer;
}

.number{
    background-color: #113c78;
}

.operator{
    background-color: #3db5e5;
}

.special{
    background-color: #2061b0;
}

